.edit {
    width: 70%;
    box-shadow: 0 0 5px black;
}

.modal-window > span {
    cursor: pointer;
}

.edit > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    margin: 15px 0;
}

.edit-modal {
    width: 50%;
}

.color-edit {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

.color-edit > label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-edit > label > input {
    margin: 20px;
    width: 50%;
}

.delete {
    background-color: red;
}